:root {
  /* colors */
  --slate300: #d5e1ef;
  --slate500: #68778d;
  --slate900: #1f314f;
  --white: #ffffff;

  /* Fonts */
  --main-font: 'Outfit', serif;

  /* spacing between slates */
  --spacing-500: 2.5rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate300);
  font-family: var(--main-font);
}

.container {
  min-width: 23.4375rem;
  height: 100vh;
}

.background-container {
  background-color: var(--white);
  width: 20rem;
  height: 31.1875rem;
  margin: 9.78rem auto;
  border-radius: 20px;
}
