:root {
  /* colors */
  --slate300: #d5e1ef;
  --slate500: #68778d;
  --slate900: #1f314f;
  --white: #ffffff;

  /* Fonts */
  --main-font: 'Outfit', serif;

  /* spacing between slates */
  --spacing-500: 2.5rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
}

/* mobile design */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate300);
  font-family: var(--main-font);
}

.container {
  min-width: 23.4375rem;
  height: 100vh;
}

.background-container {
  background-color: var(--white);
  width: 20rem;
  height: 31.1875rem;
  margin: 9.78rem auto;
  border-radius: 20px;
}

.card {
  padding: 1rem 1rem 2.5rem 1rem;
  height: auto;
}

.text_container {
  text-align: center;
  padding-top: 1.5rem;
  width: 288px;
  height: 131px;
}

.text_container h1 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 1rem;
  color: var(--slate900);
}

.text_container p {
  color: var(--slate500);
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.2px;
}

/* destop design */
@media (min-width: 1440px) {
  .background-container {
    margin: 14.40625rem auto;
  }
}
